footer {
    display: flex;
    text-align: center;
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: #373867;
}

footer li a:hover {
    color: #171877;
}

#about-us{
    padding: 40px 0;
}

#about-us div{
    display: inline-block;
    width: 30%;
    text-align: center;
}

#about-us h4{
    margin-bottom: 10px;
}

#about-us ol{
    list-style-type: decimal;
    list-style-position: inside;
    text-align: left;
    margin-left: 160px;
}

#about-us li{
    line-height: 22px;
}

#about-us li a {
    text-decoration: none;
    color: #373867;
}

#icons-footer{
    text-align: center;
    margin-top: 30px;
}

#icons-footer div{
    margin-bottom: 20px;
}