header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px rgba(241, 51, 18, 1) solid ;
    padding-bottom: 11.2px;
    width: 100%;
}

#company p{
    font-size: 12px;
}

#burguer-menu {
    padding-right:20px;
    color: rgba(241, 51, 18, 1);
}

#social-logos {
    text-align: center;
}

.social-icons {
    font-size: 20px;
}