header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

#burguer-menu {
    padding-right:20px;
    color: rgba(241, 51, 18, 1);
}

#social-logos {
    width: 170px;
}

.social-icons {
    font-size: 20px;
}