header {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px #F33413 solid;
    padding: 10px 0;
}

#company p{
    align-items: center;
    font-size: 12px;
}

#burguer {
    color: #F33413;
    margin-right: 10px;
}

#social-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

#social-logos a{
    margin-right: 5px;
}