main{
    display: flex;
    flex-wrap: wrap;
}

.main {
    width: 90%;
    margin: auto;
}

#first-section {
    display: flex;
    flex-direction: column;
}

#first-section img{
    width: 346px;
    height: 301px;
}

#first-section p{
    margin-top: 20px;
}

#first-section span{
    display: flex;
    padding-bottom: 20px;
}

.left-section {
    padding: 15px 0;
}

#second-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;
    padding-bottom: 27px;
}

#second-section article{
    display: flex;
    gap: 8px;
    width: 90%;
    padding-top: 20px;
}

#second-section article div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

#second-section img {
    width: 107px;
    height: 107px;
    float: left;
    padding-right: 15px;
}

#third-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-bottom: 27px;
}

#third-section h2{
    margin-bottom: 15px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 32px;
}

.features article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
     width: 100%;
}

.third-section-item img {
    width: 100%;
    height: 100%;
    max-width: 474px;
    max-height: 384px;
}

#third-section h3{
    width: 100%;
    margin: 10px 0px;
}

#third-section h3, #third-section button, #our-history h3 {
    margin: 25px 0px;
}

#third-section button{
    padding: 8px 14px;
    background-color: #fff;
    border: 2px solid #FF3E1D;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF3E1D;
}


#third-section button:hover {
    background-color: #FF3E1D;
    color: #373867;
}

#fourth-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

form {
    margin: 20px 30px;
}

#contact-area {
    display: flex;
    width: 39%;
    vertical-align: top;
}

#contact-area label, #contact-area input {
    display: flex;
    margin: 5px 0px;
    width: initial;
}

#contact-area p {
    margin-bottom: 8px;
}

#info {
    display: flex;
    width: 59%;
}

#info div{
    margin-bottom: 40px;
}

#info input{
    width: 80%;
    border: 2px solid #373867;
    border-radius: 4px;
    height: 45px;
    padding-left: 10px;
}

#info label{
    font-size: 14px;
    padding-bottom: 5px;
}

#info input,label{
    display: block;
} 

.input {
    display: block;
}

#contact-area {
    display: flex;
    width: 39%;
    vertical-align: top;
}

#contact-area label, #contact-area input {
    display: flex;
    margin: 5px 0px;
    width: initial;
}

.message p{
    padding-bottom: 5px;
}

.message textarea{
    width: 85%;
    height: 240px;
    border-radius: 6px;
    border: 2px solid #cfcbcb;
    padding: 10px 0 0 15px;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

#buttons {
    padding: 30px 0 0 15px;
}

.btn-reset {
    padding: 8px 14px;
    margin-right: 15px;
    background-color: #FF3E1D99;
    border: 1px solid #373867;
    border-radius: 5px;
    font-size: 12px;
    color: #373867;
}

.btn-reset:hover {
    background-color: #FF3E1D;
}

.btn-send {
    padding: 8px 41px;
    border: 1px solid #373867;
    border-radius: 5px;
    background-color: #AACE9B;
}

.btn-send:hover {
    background-color: #4EB125;
}

input[name="contact_area"] {
	accent-color: #373867;
}

#fifth-section{
    display: flex;
    padding: 40px 0 10px 0;
}

#fifth-section div > img {
    margin: 0px 10px 20px 0px;
    width: 330px;
    float: left;
}

#foundation article{
    width: 61%;
}

#foundation article h3{
    margin: 40px 0 20px 0;
}

#something-else{
    width: 90%;
}

#something-else img{
    width: 333px;
    height: 227px;
}
#something-else h3{
    margin-top: 70px;
}

#something-else article{
    width: 100%;
    margin-top: 10px;
}

.img-1{
    padding: 0 24px 16px 0;
    float: left;
}

#something-else-2{
    width: auto;
    margin-top: -10px;
}

.img-2{
    float: right;
    padding: 0 0 16px 24px;
}

@media screen and (max-width: 480px){
    main > img{
        width: 80%;
        max-width: 350px;
    }
}