main{
    display: flex;
    flex-wrap: wrap;
}

#main-header-footer-container {
    width: 90%;
    margin: auto;
}

/* First Section */
#first-section {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
}

#first-section img{
    width: 100%;
}

#first-section p{
    margin-top: 20px;
}

#first-section span{
    display: flex;
    padding-bottom: 20px;
}

.left-section {
    padding: 15px 0;
}

/* Second Section */
#second-section {
    padding-bottom: 27px;
}

#second-section h2{
    margin-bottom: 15px;
}

#second-section div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 20px;
}

#second-section article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 90%;
}

#second-section article div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

#second-section img {
    width: 107px;
    height: 107px;
    float: left;
    padding-right: 15px;
}


/* Third Section */
#third-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-bottom: 27px;
}

#third-section h2{
    margin-bottom: 15px;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.features article{
    flex-wrap: wrap;
    margin: 10px 0px;
}

.third-section-item img {
    width: 100%;
}

#third-section h3{
    width: 100%;
    margin: 10px 0px;
}

#third-section h3, #third-section button, #our-history h3 {
    margin: 25px 0px;
}

#third-section button{
    padding: 8px 14px;
    background-color: #fff;
    border: 2px solid #FF3E1D;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF3E1D;
}


#third-section button:hover {
    background-color: #FF3E1D;
    color: #373867;
}

form{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#contact-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

#contact-area label {
    display: block;
}

#contact-area label, #contact-area input {
    flex: auto;
    margin: 5px 0px;
}

#contact-area p {
    width: 100%;
    margin-bottom: 8px;
}

#contact-area div.input-radio {
    display: flex;
}

#fourth-section{
    width: 100%;
    padding: 10px 0;
}

#fourth-section h2{
    margin-bottom: 10px;
}

#info {
    flex: auto;
}

#info label{
    font-size: 14px;
    padding-bottom: 5px;
}

#info input,label{
    display: block;
} 

.input {
    display: block;
}

#contact-area input{
    margin-top: 10px;
}

#contact-area label, #contact-area input {
    margin: 5px 0px;
    width: initial;
}

.message {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message p{
    padding-bottom: 5px;
}

.message textarea{
    width: 96%;
    margin: 10px 0px;
    border: 1px solid #373867;
    border-radius: 5px;
    font: inherit;
}

textarea {
    margin-bottom: 15px;
}

#buttons {
    padding: 10px 0 0 10px;
}

.btn-reset {
    padding: 8px 14px;
    margin-right: 15px;
    background-color: #FF3E1D99;
    border: 1px solid #373867;
    border-radius: 5px;
    font-size: 12px;
    color: #373867;
}

.btn-reset:hover {
    background-color: #FF3E1D;
}

.btn-send {
    padding: 8px 41px;
    border: 1px solid #373867;
    border-radius: 5px;
    background-color: #AACE9B;
}

.btn-send:hover {
    background-color: #4EB125;
}

input[name="contact_area"] {
	accent-color: #373867;
}

#fifth-section{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 10px 0;
}

#foundation{
    flex: auto;
    margin-top: 10px;
}

#fifth-section div > img {
    margin: 0px 10px 20px 0px;
    width: 330px;
    float: left;
}

#foundation h3{
    margin: 40px 0 20px 0;
}

#something-else{
    width: 90%;
}

#something-else img{
    width: 333px;
    height: 227px;
}
#something-else h3{
    margin-top: 70px;
}

#something-else article{
    width: 100%;
    margin-top: 10px;
}

.img-1{
    padding: 0 24px 16px 0;
    float: left;
}

#something-else-2{
    width: auto;
    margin-top: -10px;
}

.img-2{
    float: right;
    padding: 0 0 16px 24px;
}

/* Tablet */
@media (min-width: 480px) {
    #first-section{
        flex-direction: row;
    }
    #second-section article{
        width: 47%;
    }

    #main-title div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #main-title > span {
        width: 50%;
    }

    .features article {
        width: 45%;
        margin-right: 20px;
    }

    section#features article {
        width: 45%;
    }

    section#features article:nth-child(even) {
        margin-left: 20px;
        padding-left: 20px;
        border-left: #37386730 1px solid;
    }

    #contact-area {
        width: 50%;
        padding-left: 8%;
    }

    section#our-history span.wrap-img {
        width: 47%;
        margin: 0px 35px 15px 5px;
        float: left;
    }

    section#our-history p + p span.wrap-img {
        margin: 15px 0px 5px 15px;
        float: right;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    #main-container {
        width: 72%;
        margin: 1%;
    }

    section#our-history span.wrap-img {
        max-width: 400px;
    }

    p.subheader {
        font-size: 20px;
    }

    p.subheader + p {
        font-size: 16px;
        font-weight: 600;
    }

    section#features img {
        max-width: 474px;
    }

    section#our-history p {
        font-size: 16px;
    }

    section#our-history span.wrap-img {
        margin: 0;
    }

    section#our-history img {
        max-width: 380px;
    }
}