body {
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Header Styling */
h1{
    font-size: 40px;
    font-weight: 700;
}

h2{
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #FF3E1D;
    text-underline-offset: 7px;
}

h3{
    font-size: 14px;
    font-weight: 700;
}


.subheader {
    font-size: 20px;
}

.bb-side {
    border-bottom: 1px solid #37386770;
}

.bb {
    border-bottom: 2px solid #373867;
}

nav {
    padding: 88px 0px 65px 0;
    border-bottom: 1px solid #373867D9;
}

nav li {
    padding: 19px 0px;
    list-style: none;
}

nav li a:hover {
    color: #FF3E1D;
}

nav li + li {
    border-top: 1px solid #373867B0;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #373867;
}

p {
    font-size: 14px;
}

.main-header-footer-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 3%;
}

#company{
    display: inline-block;
    width: 85%;
}

#company > i{
    float: left;
}

.social-icons a {
    text-decoration: none;
    color: #5D5D5D;
}

.social-icons a:hover {
    text-decoration: none;
    color: #FF3E1D;
}

.bold {
    font-weight: 700;
}

article {
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
    margin-top: 25px;
    padding-right: 65px;
    font-size: 14px;
}

.btn {
    padding: 8px 30px;
    background-color: #fff;
    border: 2px solid #FF3E1D;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF3E1D;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.btn:hover {
    background-color: #FF3E1D;
    color: #373867;
}

.mt30 {
    margin-top: 30px;
}

input, textarea{
   width: 96%;
    margin: 10px 0px;
    padding: 8px;
    border: 1px solid #373867;
    border-radius: 5px;
    font: inherit; 
}




