
body {
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #FF3E1D;
    text-underline-offset: 7px;
}

nav {
    padding: 88px 0px 65px 0;
    border-bottom: 1px solid #373867D9;
}

nav li {
    padding: 19px 0px;
}

nav li + li {
    border-top: 1px solid #373867B0;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #373867;
}

p {
    font-size: 14px;
    font-weight: 400;
}


#sidebar {
    width: 12.5%;
    height: 100%;
    float: left;
    position: fixed;
    background-color: #AACE9B;
    padding: 29px;
}

#sidebar-contact h2{
    margin: 65px 0 25px 0;
}

#sidebar-contact p{
    margin-right: 20px;
}

main {
    display: inline-block;
    padding: 0 1% 0 25%;
}